form(action='/test/your-server-side-code', method='POST')
  script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_iCrQEGBrECgCbZb95AZC0Tb0', data-amount='100', data-name='Test Account', data-description='Payment fot Testing', data-image='https://stripe.com/img/documentation/checkout/marketplace.png', data-locale='auto')

